body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cf {
  position: relative;
  height: 50em;
  width: 50em;
}

#cf img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: fadeInOut 20s infinite;
}

#cf img:last-child {
  animation-delay: 10s; /* Delay second image's animation so it starts when the first is halfway through */
}

@keyframes fadeInOut {
  0%, 100% { opacity: 1; }
  25% { opacity: 1; }
  50% { opacity: 0; }
  75% { opacity: 1; }
}
